@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@400;500;600;700&display=swap');

@layer components { 
    html{
        scroll-behavior: smooth;
    }
    .app-container{
        width: 1180px !important;
        margin: 0 auto !important;
    }
    .wrapper {
        height: 100vh;
        overflow: hidden;
    }
    .line {
        position: relative;
    }
    .line::before{
        position: absolute;
        content: "";
        right: -30px;
        border-right: 2px solid #e0e0e0 ;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    .line-long {
        position: relative;
    }
    .line-long::before{
        position: absolute;
        content: "";
        right: 0px;
        border-right: 2px solid #e0e0e0 ;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

}